<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Cart' , stylesheet: ['/css/styles.css','/css/productCart.css']}) %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <ul type="none">
          <li>
            <h2 class="title">Mi Carrito de Compras</h2>
          </li>
          <li>
            <a href="/"><h3 class="subtitle">Seguir Comprando</h3></a>
          </li>
        </ul>

        <div class="container">
          <div class="products">
            <article class="productImage">
              <img src="img/img-mistery.jpg" alt="product image" width="200px" height="200px">
            </article>

            <section class="productDescription">
              <h3>Producto Misterioso</h3>
              <p>Caja misteriosa con elementos de origen Argentino. Cada caja contiene 10 productos, amplia
              variedad de categorías.</p>
            </section>
            
            <section class="quantity">
              <form id="quantity" method="post">
                <h3><label for="cantidad">Cantidad:</label></h3>
                <select type="number">
                  <option value="1" selected>1</option>
                  <option value="2" selected>2</option>
                  <option value="3" selected>3</option>
                  <option value="4" selected>4</option>
                  <option value="5" selected>5</option>
                  <option value="6" selected>6</option>
                  <option value="7" selected>7</option>
                  <option value="8" selected>8</option>
                  <option value="9" selected>9</option>
                  <option value="10" selected>10</option>
                </select>
              </form> 
            </section>

            <section class="price">
              <h3>Precio</h3>
              <h4>$6.770</h4>
            </section>
            
            <section class="delete">
              <i class="fa-solid fa-trash-can"></i>
              <button type="reset">Eliminar</button>
            </section>
          </div>
          <div class="calculations">

            <h4>Subtotal</h4>
            <div class="formulario">
              <h4>Código de descuento y código postal</h4>
              <form id="formularioEnvio">
                <label for="codigoDescuento">Código de Descuento:</label>
                <input type="text" id="codigoDescuento" name="codigoDescuento">
                <input type="submit" value="Validar"></input>

                <label for="codigoPostal">Código Postal:</label>
                <input type="text" id="codigoPostal" name="codigoPostal">

                <button type="button" onclick="calcularCostoEnvio()">Calcular Costo de Envío</button>
              </form>
              <h3>Total</h3>

            </div>

            <button onclick="realizarCompra()">Comprar</button>

          </div>
        </div>
      </main>
  </body>
  <%- include('../partials/footer') %>

</html>